build
logs
node_modules
package-lock.json
# pnpm-lock.yaml
yarn.lock
zotero-cmd.json
.env

# libs
**/libs/**
**/abbrevIso*

# tmp
**/*.bak
**/*.new
**/examples.ts
# **/test.js
**/*test*.*
*.tsbuildinfo

# ts 编译的 js
src/**/*.js
.scaffold