{
  "tabWidth": 2,
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.ts", "*.js", "*.mjs"],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": ["*.xhtml"],
      "options": {
        "htmlWhitespaceSensitivity": "css",
        "singleAttributePerLine": true
      }
    }
  ],

  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "importAssertions"]
}
