name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup JS
        uses: zotero-plugin-dev/workflows/setup-js@main
      - run: pnpm build

  test:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Setup JS
        uses: zotero-plugin-dev/workflows/setup-js@main
      - run: pnpm test
