name: release

on:
  push:
    tags:
      - v**

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  create-release:
    uses: zotero-plugin-dev/workflows/.github/workflows/release-plugin.yml@main

    # You can customize any of the inputs here.
    # If you omit an input, its default value will be used.
    # with:
    #   build: ""
    #   release: "pnpm release"
    # secrets: inherit
