name: Update data

on:
  pull_request:
    paths:
      - "data/**"

permissions:
  # Give the default GITHUB_TOKEN write permission to commit and push the
  # added or changed files to the repository.
  contents: write

jobs:
  update-data:
    # if: github.actor == 'renovate[bot]'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
          submodules: recursive

      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
          cache: pnpm

      - run: pnpm install

      - run: pnpm update-data

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "fix(data): update build-in data"
          file_pattern: data/**
